<%=  render "shared/header" %>
<div class="content-content">
<div class="content">
<%# <%= link_to image_tag("igo.jpeg" , size: '185x50'), room_path %> 
<% @rooms.each do |room| %>
<%= link_to room.room_name, room_messages_path(room.id)  %>
<% end%>
</div>
</div>


<%= render "shared/footer"%>