.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px 0 30px;
  background-color: #DBDBDB;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 100px; 
}

.nav-list {
  height: 100px;
  display: flex;
  align-items: center;
}
li{
  padding-left: 20px;
}
.content-list{
}
.content-main{
  width: 100%;
  height: calc(100%-100px);
 
}
.content-top{
  display: flex;
  position: relative;
  justify-content: space-around;
}
.content-center{
  display: flex;
  justify-content: space-around;
}
.content-bottom{
  display: flex;
  justify-content: space-around;
}
p{
position: absolute;
}
.category img{
  opacity: 0.5;
  height: auto;
  width: 300px;

}
.category{
  height: 300px;
  width: 300px;

}

